<div class="card">
    <div class="card-header">
        {{{ $slots.header() }}}
    </div>
    <div class="card-body">
        {{{ $slots.body() }}}
    </div>
    <div class="card-footer">
        {{{ $slots.footer() }}}
    </div>
</div>