<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/form_tabs.css">
    <link rel="icon" type="image/png" href="/img/logo.png"/>
    
    <title>MiAuDote</title>
  </head>
  <body class="bg-red-100 bg-fixed bg-contain">
    @if(auth.isLoggedIn)
      @include('cabecalho')
    @endif
    
    <main id="root">
      @!section('conteudo')
    </main>

    @!section('scripts')
  </body>
</html>