<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/css/index.css">
  <title>Me Adote</title>
</head>
<body>
  <main id="root">
    @!section('conteudo')
  </main>

  @!section('scripts')
</body>
</html>