@layout('base')

@section('conteudo')

    <h2>Animais disponíveis por tipo</h2>
    <ul>
        @each(animal in animaisPorTipo)
            <li>{{ animal.nome }}
                <a href="/adocaos/realiza/{{ animal.id }}">Adotar</a>
            </li>
        @endeach
    </ul>
@endsection