@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root, html, body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.subtitle {
  @apply text-gray-800 text-xl font-bold mb-5;
}

.card {
  @apply flex flex-col shadow-xl max-w-full bg-white rounded-lg m-2 mt-16;
}

.card-header {
  @apply flex flex-col items-center justify-center w-full p-2 border-b border-gray-300;
}

.card-header img {
  @apply shadow-lg rounded-full max-w-full w-48 h-48 object-cover border-2 border-green-500 mb-2 -mt-16;
}

.card-header h1 {
  @apply font-bold text-2xl text-green-500;
}

.card-body {
  @apply flex flex-col flex-1 mt-4 w-full p-2;
}

.card-body p {
  @apply font-normal text-gray-800 text-base text-center;
}

.card-footer {
  @apply w-full p-0;
}

.card-footer button {
  @apply w-full self-center bg-gray-100 font-bold text-green-500 mt-2 p-4 rounded-b-lg hover:bg-green-500 hover:text-gray-100 duration-500;
}