@layout('base')

@section('conteudo')
  <div>
    <form method="POST" action="{{ route('PessoasController.savePerfil') }}">
      <h1 class="text-center text-2xl	text-green-700 pb-10">Editar Perfil</h1>
      @include('pessoa/formEdit')
      @include('pessoa/perfil')
      <button class="text-green-900 hover:bg-green-500 hover:text-white px-3 py-2 rounded-md text-base font-medium mt-5" type="submit" value="Submit">Concluir</button>
    </form>
  </div>
@endsection